* {
                margin: 0;
                padding: 0;
            }
            body {
                background-color: #88ea78;
            }
            .text-fling {
                list-style: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .text-fling li {
                display: inline-block;
                margin-right: 40px;
                font-family: Open Sans, Arial;
                font-weight: 300;
                font-size: 4em;
                color: #fff;
                opacity: 1;
                transition: all 2.5s ease;
            }
            .text-fling li:last-child {
                margin-right: 0;
            }
            .text-fling1 li {
                display: inline-block;
                margin-right: 40px;
                font-family: Open Sans, Arial;
                font-weight: 250;
                font-size: 3em;
                color: #fff;
                opacity: 1;
                transition: all 2.5s ease;
            }
            .text-fling1 li:last-child {
                margin-right: 0;
            }
            .text-fling1{
                list-style: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-51%) translateY(90%);
            }
            .text-fling.hide li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
            .text-fling.hide li:nth-child(2){transform: translateX(20px) translateY(100px);}
            .text-fling.hide li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
            .text-fling.hide li:nth-child(4){transform: translateX(-300px) translateY(200px);}
            .text-fling.hide li:nth-child(5){transform: translateX(50px) translateY(200px);}
            .text-fling.hide li:nth-child(6){transform: translateX(-30px) translateY(10px);}
            .text-fling.hide li:nth-child(7){transform: translateX(-60px) translateY(280px);}
            .text-fling.hide li:nth-child(8){transform: translateX(-250px) translateY(-100px);}
            .text-fling1.hide li:nth-child(1){transform: translateX(-250px) translateY(-10px);}
            .text-fling1.hide li:nth-child(2){transform: translateX(80px) translateY(150px);}
            .text-fling1.hide li:nth-child(3){transform: translateX(-120px) translateY(-200px);}
            .text-fling1.hide li:nth-child(4){transform: translateX(300px) translateY(200px);}
            .text-fling1.hide li:nth-child(5){transform: translateX(250px) translateY(-00px);}
            .text-fling1.hide li:nth-child(6){transform: translateX(-45px) translateY(10px);}
            .text-fling1.hide li:nth-child(7){transform: translateX(83px) translateY(-20px);}
        .conatainer{
            
        }
        .wrapper{
            width: 100%;
            height: 50px;
            background-color: gray;


        }
         #container ul{
                list-style: none;
                
            }
            #container ul li{
                background-color: gray;
                width: 175px;
                height: 50px;
                line-height: 50px;
                color: white;
                font-size: 18px;
                text-align: center;
                float: left;
                position: relative;
                z-index: 1;
                 font-family: 'Oswald', sans-serif;
                
            }
            #home{
                margin-left: 350px;
            }
            #container ul ul{
                display: none;
            }
            #container ul li:hover ul{
                display:inline-block;
                background-color: white;
                color: black;
               
                
            }
             ul  li a:link,a:visited{
                color: white;
                text-decoration: none;
             }
             ul  li:hover a{
                text-decoration: none;
                background-color: white;
                display: inline-block;
                width: 175px;
                height: 50px;
                color: black;
            }
            
        .wrapper2{
            background-color: #f2e9e9;
            width:80%;
            margin-left: 10%;
            margin-right: 10%;
        }
        h2{
            width: 100px;
            height: 120px;
            font-size: 75px;
            font-family: 'Oswald', sans-serif;
        }
        .image{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .para{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            font-family: 'Oswald', sans-serif;
            font-size: 1.2em;
            background-color: #f2e9e9;
            margin-top:0;
        }
         @media(max-width: 768px){

 #container ul{
                list-style: none;
                
            }
            #container ul li{
                background-color: gray;
                width: 100%;
                
               
            }
            #home{
                margin-left: 0;
                            }
                        }